.related-blogs {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @include media-breakpoint-up(md) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 16rem;
        padding-bottom: 16rem;
    }

    &__eyebrow {
        margin-bottom: 2.4rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 4rem;
        }

        @include media-breakpoint-up(xl) {
            margin-bottom: 8rem;
        }
    }
}