$dark-red: #F12B2C;
$lime-yellow: #FEC400;
$light-green: #29CC97;
$light-gray: #C5C7CD;

:export {
    dark-red: $dark-red;
    lime-yellow: $lime-yellow;
    light-green: $light-green;
    light-gray: $light-gray;
}