.btn {
    padding: 5px 12px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: lightgreen;
}

.btn-yellow {
    background-color: rgb(237, 244, 32);
}