.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form {
        background-color: rgb(231, 237, 234);
        padding: 20px 20px;
        border-radius: 20px;
    }
}

