.sidebar__tab {
    color: #DFE0EB;
    background-color: #363740;
    padding: 18px 32px;

    i {
        font-stretch: ultra-condensed;
        font-size: 16px;
        margin-right: 24px;
        text-align: right;
    }

    &__icons {

    }

    &__link {
        text-decoration: none;
        color: white;
        font-size: 16px;
        // margin-left: 24px;
        letter-spacing: 0.2px;
    }

    &:hover {
        background-color: #9FA2B4;
    }
}