:root {
    --container-background: #F6F6F6;
    --white: #FFFFFF;
    --blue: #E4F2FF;
    --green: #D1DFBF;
    --red: #F9DBDB;
    --darkred: #b08080;
    --armygreen: #40433C;
    --darkblue: #0047FF;
    --grey: #515151;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
}

.h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.container {
    text-align: center;
    /* padding: 50px; */
    background-color: var(--container-background);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}


.container__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #575757;
}

.card-list {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 3.75rem;
    flex-wrap: wrap;
}

.card {
    /* height: 327px; */
    width: 268px;
    padding: 1.875rem;
    text-align: center;
    
    position: relative;
}

.card--white {
    background-color: var(--white);
}

.card--blue {
    background-color: var(--blue);
}

.card--green {
    background-color: var(--green);
}

.card--red {
    background-color: var(--red);
}

.card__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #575757;
    line-height: 22px;
    margin-bottom: 66px;
}

.card__button {
    all: unset;
    cursor: pointer;
    border-radius: 0;
    box-shadow: none;
    color: var(--white);
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 15px;
    padding: 9px 22px;
    text-align: center;

}

.card__button--position {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%);
}

.card__button--grey {
    background-color: var(--grey);
}

.card__button--darkblue {
    background-color: var(--darkblue);
}

.card__button--armygreen {
    background-color: var(--armygreen);
}

.card__button--darkred {
    background-color: var(--darkred);
}

.card__button--red {
    background-color: red;
}

.container--two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    margin-top: 3rem;
    width: 80%;
}

.hero__row {
    display: flex;
    flex-wrap: wrap;
}

.hero__row:nth-child(even) {
    flex-direction: row-reverse;
}

.text {
    width: 50%;
    flex-grow: 2;
    text-align: left;
}

.hero__row__image {
    flex-grow: 1;
}

.hero__row__image .image-border img{
    background-color: var(--red);
    padding: 10px 15px 15px 10px;
    border-radius: 50%;
}



.hero__row__image .image-border img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

