.blog-hero {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include media-breakpoint-up(md) {
        padding-top: 4.0rem;
        padding-bottom: 4.0rem;
    }

    @include media-breakpoint-up(xl) {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    &--borderBottom {
        border-bottom: 8px solid #75E6ED;
    }

    &__topsection {

        @include media-breakpoint-up(md) {
            // position: relative;
        }

        &__image {

            @include media-breakpoint-up(md) {
                position: relative;
                z-index: 1;
            }
        }

        &__description {
            border-top: 8px solid $dark;
            padding: 2.4rem;
            
            @include media-breakpoint-up(md) {
                position: relative;
                padding: 4rem;
                margin-top: -10.7rem;
                z-index: 2;
                // position: absolute;
                // right: 0;
                // top: 28.5rem;
            }

            @include media-breakpoint-up(xl) {
                padding: 8rem;
                margin-top: -20.4rem;
                // right: 1rem;
                // top: 26.9rem;
            }
        }

        &__contact {
            
            @include media-breakpoint-up(md) {
                margin-top: -3rem;
            }

            @include media-breakpoint-up(xl) {
                margin-top: -4rem;
            }
        }
    }

    &__lowersection {
        box-sizing: border-box;
        // .card-home-1 {
        //     padding: 2.4rem;
        // }
    }
}