.blogs-moreblogs {

    .tab-layout {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        flex-wrap: wrap;

        li {
            margin-right: 2.4rem;
            margin-bottom: 1rem;
        }
    }

    .dropdown li {
        margin: 0 2.1rem;
        padding: 1.2rem 0rem;
        border-bottom: 1px solid $dark;

        a {
            padding-left: 2rem;
        }

        &:last-child {
            border: none;
        }
    }

    &__eyebrow {
        text-transform: uppercase;
        margin-bottom: 4rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 8rem;
        }
    }

    &__categories {
        display: flex;
        align-items: baseline;
        margin-bottom: 4rem;

        // @include media-breakpoint-up(md) {
        //     margin-bottom: ;
        // }
    }

    &__searchDropdown {
        margin-bottom: 4rem;
        align-items: center;

        @include media-breakpoint-up(md) {
            margin-bottom: 8rem;
        }

        &__searchbar {
            
            &--rounded-input{
                border-radius: 3rem;
                padding-left: 3rem;
                height: 4.2rem;
                width: 100%;
                
                @include media-breakpoint-up(md) {
                    height: 6.4rem;
                    width: 90%;
                }
            }
            
        }

        &__dropdown {
            display: flex;
            justify-content: end;
            align-items: center;

            i {
                margin-left: 0.6rem;
    
                @include media-breakpoint-up(md) {
                    margin-left: 0.9rem;
                }
            }

            .show {

                @include media-breakpoint-down(sm) {
                    position: relative !important;
                }
            }

        }

    }
    
    &__items {
        
    }

    &__pagination {

        .arrow {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 4rem;
            height: 4rem;
            color: white;
            background-color: $dark;
            // padding: 1.2rem;
            border-radius: 50%;
        }

        .pages {

            ul li {
                
                margin-right: 1rem;
            }
        }
    }
}

