.contact-form {
    padding-bottom: 2.4rem;

    @include media-breakpoint-up(md) {
        padding-bottom: 4rem;
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 12rem;
    }

    .row:nth-child(1) {
        margin-bottom: 4.5rem;
    }

    &__form {
        padding: 2.4rem;
        box-shadow: 10px 10px $blush;


        @include media-breakpoint-up(md) {
            padding: 4rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 8rem;
        }

        &__select {
            padding: 1.6rem;
            border-radius: 0rem;
            border: 2px solid $dark;
        }
    }
}