.service-point {
    padding-block: 4rem;

    @include media-breakpoint-up(md) {
        padding-block: 8rem;
    }

    &--borderBottom {
        border-bottom: 1px solid $blush;
    }

    &__heading {
        margin-bottom: 4rem;
    }

    &__description {
        margin-bottom: 0;

        @include media-breakpoint-up(md) {
            margin-bottom: 4rem;
        }
    }

    &__imageButton {
        margin-bottom: 4rem;

        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            position: relative;
        }

        &__button {
            @include media-breakpoint-up(md) {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .ratio-327x230 {

            @include media-breakpoint-up(md) {
                --bs-aspect-ratio: 53.9%;
            }

            @include media-breakpoint-up(xl) {
                --bs-aspect-ratio: 38.70%;
            }
        }

    }
}