$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./fonts" !default;

$icon-three_dots: "\e900";
$icon-sort: "\e901";
$icon-filter: "\e902";
$icon-search: "\e903";
$icon-notification: "\e904";
$icon-search_one: "\e905";
$icon-ticket: "\e906";
$icon-badge: "\e907";
$icon-settings: "\e908";
$icon-book: "\e909";
$icon-profile: "\e90a";
$icon-group: "\e90b";
$icon-bulb: "\e90c";
$icon-pie_chart: "\e90d";

