.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 1290px;
    height: 720px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.row{
    display: flex;
    column-gap: 20px;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
}

.text-1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.image {
    width: 800px;
    height: 329px;
}