@import '../../../../variables.scss';

.btn {
    all: unset;
    padding: 5px 12px;
    border-radius: 100px;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
}

.btn-red {
    background-color: $dark-red;
}

.btn-green {
    background-color: $light-green;
}

.btn-yellow {
    background-color: $lime-yellow;
}