/* #canvas {
    background-color: red;
} */

body {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.score-info {
    
}

.start-game {
    background-color: white;
    display: none;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}