:root {
    --beige: #8E7E6D;
    --button-right: #F5E8DF;
    --button-right-hover: #CBBFB6;

}

.h2 {

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1200px;
    height: 1140px; */
    padding: 50px 0px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, #C8802C, #FBFD94);
}

.card {
    width: 70%;
    height: 880px;
    display: flex;
    background-color: #ffffff;
}

.card__column__left {
    /* display: flex; */
    position: relative;
    justify-content: center;
    text-align: center;
    width: 63%;
}

.card__column__right {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: calc(100% - 63%);
    background-color: #ffffff;
}

.card__column__image {
    border: 4px solid var(--beige);
    border-left: 4px solid #ffffff;
    border-radius: 50%;
    width: 212px;
    height: 212px;
    padding: 8px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.card__column__image:hover {
    transform: rotate(360deg);
    background-color: red;
}

.card__column__image__border {
    border: 4px solid var(--beige);
    border-right: 4px solid white;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card__column__left__name {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%);
}

.card__column__left__button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
}

.card__column__left__button--one, .card__column__left__button--two {
    border: 4px solid var(--beige);
    padding: 1rem 3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 25px;
    transition: 0.8s;
    width: 200px;
}

.card__column__left__button--one:hover, .card__column__left__button--two:hover {
    background-color: var(--beige);
    color: white;
}

img {
    object-fit: cover;
    border-radius: 50%;
}

.card__column__right__button {
    /* position: relative; */

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 33.3%;
    width: 100%;
    background-color: var(--button-right);
    transition: 0.8s;
}

.card__column__right__button:hover {
    background-color: var(--button-right-hover);
}

.card__column__right__button p {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 600px) {
    .card {
        display: flex;
        flex-direction: column;
    }
  }
