:root {
    --beige: #8E7E6D;
    --button-right: #F5E8DF;
    --button-right-hover: #CBBFB6;

}

.h2 {

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 1200px;
    height: 1140px; */
    padding: 50px 0px;
    box-sizing: border-box;
    background-image: linear-gradient(to left, #C8802C, #FBFD94);
}

.card {
    width: 70%;
    height: 880px;
    display: flex;
    background-color: #ffffff;
    border: 1px solid red;
}

.card__column__left {
    /* display: flex; */
    position: relative;
    justify-content: center;
    text-align: center;
    width: 63%;
    border: 1px solid black;
    background-color: red;
}

.card__column__right {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: calc(100% - 63%);
    background-color: #ffffff;
}

.card__column__image {
    border: 4px solid var(--beige);
    border-left: 4px solid #ffffff;
    border-radius: 50%;
    width: 212px;
    height: 212px;
    padding: 8px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.card__column__image__border {
    border: 4px solid var(--beige);
    border-right: 4px solid white;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    padding: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img {
    object-fit: cover;
    border-radius: 50%;
}

.card__column__right__button {
    position: relative;
    height: 33.3%;
    width: 100%;
    background-color: var(--button-right);
}

.card__column__right__button:hover {
    background-color: var(--button-right-hover);
}

.card__column__right__button p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
